{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
{% with messages=get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<span style="background-color: rgb(236, 223, 38);">{{msg}}</span>
{% endfor %}
{% endif %}
{% endwith %}
<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">SignUp</h1>
<form class="ui form" action="#" method="POST">
    <p>Name: <input type="text" name="nms"></p><br>
    <p>Email: <input type="email" name="ems"></p><br>
    <p>Password: <input type="password" name="pss"></p><br>
    <p><input type="submit" name="submit"></p>
</form>
</div>
{% endblock %}