{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<center><span style="padding: 5px 5px ;background-color: chocolate; color: whitesmoke;">Welcome, {{ usr }}</span></center>
<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">To-Do App</h1>
    <form class="ui form" action="/add" method="POST">
        <div class="field">
            <label for="title">ToDo Title</label>
            <input type="text" name="title" placeholder="Enter ToDo..."><br>
            <button class="ui blue button" type="submit" >Add</button>
        </div>
    </form>
    {% if todo_list %}
    {% for todo in todo_list %}
    <div class="ui segment">
        <p class="ui bid header">{{ todo.title }}</p>
        {% if todo.complete ==False %}
        <span class="ui grey label">Not Complete</span>
        {% else %}
        <span class="ui green label">Completed</span>
        {% endif %}
        <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
        <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
    </div>
    {% endfor %}
    {% endif %}
    <p style="text-align:right;">
        <a href="/game">Play A Game (Scribbl.IO) <span style="font-size: 30px;">&#128512</span></a>
    </p>
</div>
{% endblock %}