.body {
  background-repeat: no-repeat;
  background-image: url("1.jpg");
  background-size:100%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menubtn {
  display: inline;
  border: 1px solid #e7e7e7;
  background-color: #4CAF50;
  padding: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn button{
  background-color: #4CAF50; 
  border: 1px solid green;
  color: white; 
  padding: 10px 24px;
  cursor: pointer;
  float: right;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn button:not(:last-child) {
  border-right: 20px;
}

.btn:after {
  content: "";
  clear: both;
  display: table;
}

.btn button:hover {
  background-color: #3e8e41;
}

#intro {
  color: rgb(71, 70, 13);
  font-family: Comic Sans MS;
  font-size: 18px;
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 20px;
  border: 8px solid #ad2121;
  padding: 3px; 
  width: 900px;
  height:240px;
  
}

.name {
  color: rgb(20, 8, 133);
  font-size: larger;
  font-weight: 800;
  font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#name {
  color: rgb(16, 107, 8);
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size:larger;
  text-decoration:solid underline rgb(109, 109, 34) 3px;
}

#info{
  font-family:monospace;
  font-size: 23px;
  color: #233a25;
  margin-top: 300px;
}

