body {
    background-image: linear-gradient(to right, rgb(184, 68, 68), rgb(53, 53, 184),green);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: blue;
}

.boxl {
    color: #9CA3AF;
    border-radius: 20px;
    contain: content;
    background-color: #111827;
    margin: 3em;
    width: 700px;
    float: left;
}

.boxr {
        color: #9CA3AF;
    border-radius: 20px;
    contain: content;
    background-color: #111827;
    margin: 3em;
    width: 700px;
    float: right;
}

#header {
    background-color: white;
}

.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight:bolder;
    font-size: 1.8rem;
    color: salmon;
    text-align: center;
    margin-top: 1em;
}

body section p{
    color: rgb(0, 153, 255);
    font-size: 1.4em;
}

body section span {
    width: 800px;
}

.left {
    width: 620px;
    word-wrap: break-word;
    text-align: justify;
    float: left;
    margin: 2em;
    
}

.right {
    width: 620px;
    word-wrap: break-word;
    text-align: justify;
    float: right;
    margin: 2em;
}