.body {
  background-repeat: no-repeat;
  background-image: url("1.jpg");
  background-size:cover;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

#heading {
  font-family: Bookman Old Style;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-color: black;
  border-width: 5px;
  text-decoration: wavy underline rgb(109, 109, 34) 3px;
  color: red;
  position: relative;
  animation-name: example;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  0%   {color:rgba(255, 0, 0, 0.486); }
  25%  {color:rgb(182, 190, 60);}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:rgba(255, 0, 0, 0.486);}
  from {text-decoration-color: rgb(139, 108, 108);}
  to {text-decoration-color: rgb(37, 35, 35);}
}

.menubtn {
  display: inline;
  padding: 10px;
  border: 1px solid #e7e7e7;
  background-color: #4CAF50;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: 1s;
}

.menubtn:hover {
  background-color:rgb(68, 68, 175) ;
}

.btn button{
  background-color: #1f4eb3; 
  border: 1px solid green;
  color: white; 
  border-radius: 10px;
  margin: 8px;
  padding: 10px 24px;
  cursor: pointer;
  float: right;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: 1.2s;
}

.btn button:not(:last-child) {
  border-right: 20px;
}

.btn:after {
  content: "";
  clear: both;
  display: table;
}

.btn button:hover {
  background-color: #008cff;
}

#intro {
  color: rgb(71, 70, 13);
  font-family: Comic Sans MS;
  font-size: 18px;
  text-align: left;
  margin-top: 100px;
  margin-left: 50px;
  border-radius: 20px;
  border: 8px solid #ad2121;
  padding: 3px; 
  width: 900px;
  height:240px;
  
}

@media screen and (max-width: 600px) {
  #intro {
    width: 100%;
    margin-top: 0;
    border-radius: 20px;
    border: 8px solid #ad2121;
  }
}

.name {
  color: rgb(20, 8, 133);
  font-size: larger;
  font-weight: 800;
  font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#name {
  color: rgb(16, 107, 8);
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size:larger;
  text-decoration: solid underline rgb(109, 109, 34) 3px;
}

#info{
  font-family:monospace;
  font-size: 23px;
  color: #233a25;
  margin-top: 120px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
#contact {
  border-radius: 5px;
  background-color: #23272A;
  padding: 10px;
  font-family: "Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 800;
  line-height: 95%;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  color: #5865F2;
  text-decoration:solid dashed rgb(209, 38, 38) 5px;
  margin-top: 300px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(206, 33, 99);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#fname {
  border-radius: 20px;
}

#lname {
  border-radius: 20px;
}

#subject {
  border-radius: 20px;
}