<!DOCTYPE html>
<html>
<head>
	<title>Games For you</title>
	<link rel="stylesheet" type="text/css" href="../static/game.css">
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
   <div class="div" style="background-image: url(https://cdn.wallpapersafari.com/60/93/hGb0iZ.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: 100%;">
	<header class="text-gray-600 body-font" id="header">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
                <span style="padding: 5px 10px ;background-color: rgb(55, 123, 224); color: whitesmoke; border-radius: 5px;">Hey {{ name }}, come on let's play</span>
            </nav>
            <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="current Color" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Mellow Space</span>
            </a>
            <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
                <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a href="/logout">LOGOUT</a>
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </header>
    
        <header class="header">Games to just lighten up the mood and have a time for yourself</header>
        <section class="boxl">
            <span class="left"><p><a href="https://skribbl.io/">Skribbl.io</a></p>
				skribbl.io is a free multiplayer drawing and guessing game. One game consists of a few rounds in which every round someone has to draw their chosen word and others have to guess it to gain points! The person with the most points at the end of game will then be crowned as the winner!</span>
            </section>
        <section class="boxr">
            <span class="right"><p><a href="http://slither.io/">Slither</a></p>
				Slither.io is a multiplayer online video game. Players control an avatar resembling a worm, which consumes multicolored pellets,
				both from other players and ones that naturally spawn on the map in the game, to grow in size.
				A smash-hit game! Play with millions of players around the world and try to become the longest of the day!</span>
        </section>
        <section class="boxl">
            <span class="left"><p><a href="https://shellshock.io/">Shell Shock</a></p>
                Shell Shockers is a popular online browser-based FPS game in which players are given cartoonish weapons and pitted against each other in a variety of maps. And there's a twist — everyone plays as an egg! Choose from six playable classes to blow your opponents out of the frying pan!</span>
        </section>
        <section class="boxr">
            <span class="right"><p><a href="https://crazyshooters2.com/">Crazy Shooter</a></p>
                Crazy Shooters 2 is a first-person shooter in which you have complete control over how you play with your friends or players around the world.</span>
        </section>
        <section class="boxl">
            <span class="left"><p><a href="https://smashkarts.io/">SmashKarts.io</a></p>
                Smash Karts is a free io Multiplayer Kart Battle Arena game to play with or people online. Drive fast. Fire rockets. Make big explosions.</span>
        </section>
        <section class="boxr">
            <span class="right"><p><a href="https://freegames.org/mahjong-classic/">Mahjong</a></p>
                MahJong Classic is a premium quality mahjong matching game with custom designed tiles! This relaxing game is based on the traditional Mahjongg game: your goal is to match and remove all tile pieces from the board.</span>
        </section>
        <section class="boxl">
            <span class="left"><p><a href="https://worldsbiggestpacman.com/">PacMan</a></p>
                The Classic PacMan, is an action maze chase video game; the player controls the character through an enclosed maze. The objective of the game is to eat all of the dots placed in the maze while avoiding four colored ghosts — Blinky (red), Pinky (pink), Inky (cyan), and Clyde (orange) — that try to catch it.</span>
        </section>
        <section class="boxr">
            <span class="right"><p><a href="https://stabfish.io/">StabFish.io</a></p>
                IO GAME 2020! You are a deadly marine monster. Eliminate other fish by attacking from the side and behind. Each kill adds length to your tusk. Once your tusk is long enough you can be bolder with your attacks. The more fish you stab, the higher your score will become. </span>
        </section>
        <section class="boxl">
            <span class="left"><p><a href="https://paper-io.com/?referer=paper.io&channel=11">Paper.io</a></p>
                Your goal is pretty simple to get ? Conquer the largest territory. It seems simple at first since the game is very easy to handle. But beware it might be a bit harder to master.
                Whether you’re bold or careful, outwit your opponents by finding the best strategy to conquer the largest space. And stay cautious, you have a weak point : your tail. If ever it is touched by an opponent, boom, game over.</span>
        </section>
        <section class="boxr">
            <span class="right"><p><a href="https://copter.io/">Copter.io</a></p>
                Cool online IO game - Fly a copter, keep shooting for total destruction in epic and intense battles. Upgrade, evolve and hack the victory with your special abilities!</span>
        </section>
        <footer class="text-gray-600 body-font" >
            <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col" style="background-color: white;">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="current Color" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                    </svg>
                    <span class="ml-3 text-xl">Mellow Space</span>
                </a>
                <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">A space worth exploring
                </p>
                </span>
            </div>
        </footer>

        
</body>
</html>