<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>َLogin</title>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <form class="box" action="/login" method="POST" autocomplete="off">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <span style="background-color: red; padding: 10px 10px; font-size:smaller; font-family: monospace;">
                {{ messages[0] }}
            </span>
            {% endif %}
            {% endwith %}
            <h1>Login</h1>
            <input type="email" name="em" placeholder="Email" autofocus="">
            <input type="password" name="pw" placeholder="Password">
            <input type="submit" value="Enter Space">
        </form>
    </body>
</html>