<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>َLogin</title>
        <link rel="stylesheet" href="../static/login.css">
    </head>
    <body>
        <button style="font-family:fantasy; font-size: 15px; background-color:rgb(2, 0, 2); padding: 5px 15px; float: left; margin: 20px; border-radius: 10px; box-shadow: 0 8px 16px  0;"><a href="/" style="text-decoration: none;">Home</a></button>
        <button style="font-family:fantasy; font-size: 15px;  background-color:rgb(2, 0, 2); padding: 5px 15px; float: right; margin: 20px; border-radius: 10px; box-shadow: 0 8px 16px  0;"><a href="/signup" style="text-decoration: none;">SignUp</a></button>
        <form class="box" style="box-shadow: 0 8px 16px 5px rgba(240, 221, 221, 0.897); border-radius: 15px;" action="/login" method="POST" autocomplete="off">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <span style="color: white; background-color: rgb(209, 65, 65); padding: 10px 10px; font-size:smaller; font-family: monospace;">
                {{ messages[0] }}
            </span>
            {% endif %}
            {% endwith %}
            <h1>Login</h1>
            <input type="email" name="em" placeholder="Email" autofocus="">
            <input type="password" name="pw" placeholder="Password">
            <input type="submit" value="Enter Space">
        </form>
        <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="current Color" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Mellow Space</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">A space worth exploring
            </p>
            </span>
        </div>
    </footer>
    </body>
</html>