<!DOCTYPE html>
<html>
<head>
	<title>Welcome To Mellow Space</title>
	<link rel="stylesheet" type="text/css" href="../static/main_page.css">
</head>
<body class="body">
	<ul class="menu">
		<li class="menubtn"><a href="#" style="color: white;">Home</a></li>
		<li class="menubtn"><a href="#" style="color: white;">Features</a></li>
		<li class="menubtn"><a href="#" style="color: white;">Contact</a></li>
		<li class="menubtn"><a href="#" style="color: white;">About</a></li>
		<span class="btn">
			<a href="/signup"><button>Sign Up</button></a>
			<a href="/login"><button>Log In</button></a>
		</span>
	</ul>
	<br>
	<div id="intro">
			<p class="name">Just think of a place that helps you be calm... </p>
			This is <span id="name">Mellow Space.</span> 
			<br>
			We are creating a community to cut you of from the daily head aches in your life by providing you better ways to just be at your own Personal Space.
			<br>
			<br>
			Feeling low for some reason? Or just in the mood to chillax? 			
	</div>
	<div id="info">
		<p>You'll be getting access to:</p>
		<ul>
			<li>A Devised test from certified sources to get to know your mood</li>
			<li>Curated plalists to bust the stress or frustation or even just relax (～￣▽￣)～</li>
			<li>Or just a Space for You to be You, a Space where you can just bring out your talents</li>
		</ul>
	</div>
	<div id="contact">

	</div>
</body>
</html>