<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music n Videos</title>
    <style>
        body{
            background-image: url('../static/wp3334914-music-sign-hd-colorful-background.png');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
            color: whitesmoke;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style> 
</head>
<body>
    <center><br><br>
        <h2>Stress Buster Music</h2>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLo3pNg0eiPc9hsnjWTTM4PVTKrmGaXOQ1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLm9DbrrpMEQj2Q4eHkX9TnQ8GCwVjR23A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
        <h2>Anxiety Relief Exercises</h2>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLzW0I0oHPX8emD5nuT7WA52C5Xj6GOvVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
        <h2>Anxiety Relief ASMR</h2>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLzW0I0oHPX8dsFaeoTPns1vEtXKT468MT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
    </center>
</body>
</html>