<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music n Videos</title>
    <style>
        #content{
            background-image: url('../static/musicpagebg.png');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: 100%;
            color: whitesmoke;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style> 
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header class="text-gray-600 body-font" style="display: block;">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
                <span style="padding: 5px 10px ;background-color: rgb(55, 123, 224); color: whitesmoke;">Welcome, {{ name }}</span>
            </nav>
            <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="current Color" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Mellow Space</span>
            </a>
            <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
                <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a
                        href="/logout">LOGOUT</a>
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </header>
    <div id="content">
    <center><br><br>
        <h2>Stress Buster Music</h2>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLo3pNg0eiPc9hsnjWTTM4PVTKrmGaXOQ1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLm9DbrrpMEQj2Q4eHkX9TnQ8GCwVjR23A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
        <h2>Anxiety Relief Exercises</h2>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLzW0I0oHPX8emD5nuT7WA52C5Xj6GOvVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
        <h2>Anxiety Relief ASMR</h2>
        <iframe width="900" height="450" src="https://www.youtube.com/embed/videoseries?list=PLzW0I0oHPX8dsFaeoTPns1vEtXKT468MT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
        <br><br><br>
    </center>
</div>
    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="current Color" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Mellow Space</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">A space worth exploring</p>
        </div>
    </footer>
</body>
</html>