<center>
    <h2>Stress buster music</h2>
    <iframe src="https://youtube.com/playlist?list=PLo3pNg0eiPc9hsnjWTTM4PVTKrmGaXOQ1" width="70%" height="380" frameborder="" allowtransparency="true" allow="encrypted-media" style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
    <br><br>
    <iframe src="https://youtube.com/playlist?list=PLm9DbrrpMEQj2Q4eHkX9TnQ8GCwVjR23A" width="70%" height="380" frameborder="" allowtransparency="true" allow="encrypted-media" style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
    <br><br><hr>
    <h2>Anxiety relief Exercises</h2>
    <iframe src="https://youtube.com/playlist?list=PLzW0I0oHPX8emD5nuT7WA52C5Xj6GOvVI" width="70%" height="380" frameborder="" allowtransparency="true" allow="encrypted-media" style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
    <br><br><hr>
    <h2>Anxiety relief asmr</h2>
    <iframe src="https://youtube.com/playlist?list=PLzW0I0oHPX8dsFaeoTPns1vEtXKT468MT" width="70%" height="380" frameborder="" allowtransparency="true" allow="encrypted-media" style="box-shadow: 3px 8px 16px 5px rgba(50, 190, 255, 0.897);"></iframe>
    <br>
</center>